@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}



/* HERO  */

@media (min-width: 1000px) and (max-width: 1300px) {
  .werey2{
    display: none;
  }

  .hero-mid{
    margin-top: 100px !important; 
    margin-left: 0 !important;
  } 

  .header-mid{
    margin-left: 0 !important; 
  }

  .header-mid2{     
    margin-right: -50px !important;    
  }    
  
  .werey4{     
    font-size: 25px !important;   
  }    
  
  .werey5{     
    margin-top: -50px !important;     
    margin-right: 100px !important;   
  } 
}    


@media (min-width: 784px) and (max-width: 1240px) {   
  .navigation_head{     
    display: none;   
  } 
} 


@media (max-width: 1240px) {
  .mobile-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 24, 39, 0.9);
    z-index: 40;
  }
}


@media (min-width: 768px) and (max-width: 999px) {
  .werey5{
    display: none;
  }

  .werey2{
    height: 350px !important;
    width: 250px !important;
  }
}
 


/* ScrollBar  */

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
} 

::-webkit-scrollbar-thumb:hover {
  background: #666565;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}



/* URGENT and FAQs  */
@media (min-width: 1021px) and (max-width: 1536px) {
  .responsiveUrgent{
    margin-left: -1px !important;
    width: 100% !important;
  }

  .responsiveUrgent2{
    display: flex;
    flex-direction: column !important;
  }

  .responsiveUrgent3{
    width: 1200px !important;
  }

  .faq1{
    margin-left: -70px !important; 
  }

  .faq2{
    width: 500px !important;
  }

  .faq3{
    margin-left: 120px !important;
  } 
}

@media (min-width: 769px) and (max-width: 1020px) {
  .faq3{
    margin-top: -10px !important;
  }

  .faq1{
    width: 100% !important;
  } 
}


@media (min-width: 434px) and (max-width: 768px) {
  .faq3{
    margin-top: -85px !important;
    margin-bottom: 15px !important;
  }

  .faq1{
    width: 100% !important; 
  } 
}

